---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  border-top: 0!important;
}

.site-nav .page-link {
  margin-left: 10px!important;
}

#search-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    max-width: 715px;
}
