---
layout: default
---

<h1 class="post-title">{{ page.title | escape }}</h1>

<p>&nbsp;</p>

<ul class="projects finished">
{% for note in site.notes %}
    {% if note.categories contains page.category %}
        <li class="project">
            <h2>
                <a class="name" href="{{ note.url | relative_url }}">
                    {{ note.title }}
                </a>
            </h2>
            <p>
                {{ note.content | number_of_words }} words published on {{ note.date | date: "%B %d, %Y" }}
            </p>
        </li>
    {% endif %}
{% endfor %}
</ul>
